.accordion-item {
    padding: 1rem 0;
}

/* .accordion-item.divider {
    border-top: 1px solid var(--border-color);
} */

.accordion-item>.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    color: var(--accent-text);
}

.accordion-item>.children-container {
    padding: 1rem 0 0.18rem 1rem;
    height: auto;
    overflow: auto;
}

.accordion-item>.children-container.closed {
    padding: 0;
    height: 0;
    overflow: hidden;
}