@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --text: black;
    --accent-text: black;
    --border-color: lightgray;
    --hover-brightness: 0.95;
    --selected-item: gold;
    --selected-text: black;
    --faded-text: darkgray;
    --disabled: gainsboro;
    --background: white;
    --dark-bg: black;
    --light-bg: darkgray;
}

[data-theme="dark"] {
    --text: #9ba2c8;
    --accent-text: white;
    --border-color: #364065;
    --hover-brightness: 1.3;
    --selected-item: #304193;
    --selected-text: #c5cbeb;
    --faded-text: #57659e;
    --disabled: gainsboro;
    --background: #1A1A2E;
    --dark-bg: black;
    --light-bg: #848ec5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: 0.4s;
}

*:focus-visible {
    outline-style: dashed;
}

body {
    background-color: var(--background);
    color: var(--text);

}

.color-selected {
    color: var(--selected-item);
}

.border-test {
    border: 1px solid red;
}

input {
    width: 100%;
    padding: 1rem;
}

.button {
    padding: 0.6rem 1rem;
    border-radius: 0.2rem;
    background-color: var(--selected-item);
    color: var(--selected-text);
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    filter: brightness(var(--hover-brightness));
}

.button:disabled {
    cursor: default;
    color: var(--faded-text);
    background-color: var(--disabled);
}

.space-between {
    justify-content: space-between;
}

.font-sm {
    font-size: 0.6rem;
}

.font-md {
    font-size: 1rem;
}

.font-l {
    font-size: 1.618rem;
}

.font-xl {
    font-size: 2.618rem;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.faded-text {
    color: var(--faded-text);
}

.accent-text {
    color: var(--accent-text);
}

.border-1px {
    border: 1px solid var(--border-color);
}

.rounded-sm {
    border-radius: 0.261rem;
}

#App {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-container {
    max-width: 1280px;
    padding: 0 2rem 4rem 2rem
}

.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header>* {
    display: inline-block;
}

.filters {
    min-height: 4rem;
    padding: 0.4rem 0 1rem 0;
    align-items: center;
}

.main-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "search result result";
    gap: 1rem;
}

.inputbox {
    background-color: var(--background);
    color: var(--text);
}

.shaped-element {
    border: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    background-color: var(--background);
    color: var(--text);
    border-radius: 999rem;
}

.shaped-element.hover-behavior {
    cursor: pointer;
}

.shaped-element.hover-behavior:hover {
    filter: brightness(var(--hover-brightness));
}

.shaped-element.selected {
    border-color: transparent;
    background-color: var(--selected-item);
    color: var(--selected-text);
}

#search-result {
    /* grid-column-end: span 2; */
    grid-area: result;
    padding: 0 1em;
}

#search-result> :not(:first-child) {
    border-top: 1px solid var(--border-color);
}

#search-result .empty-msg {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 4rem;
    font-size: 2rem;
    color: var(--faded-text)
}

#searchbar {
    grid-area: search;
}

.sidebar {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.sidebar>:not(:first-child) {
    border-top: 1px solid var(--border-color);
}

.wrap-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.6rem;
}

.fill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.6rem;
}

.release-year-container {
    height: 4rem;
}

.movie-card {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    gap: 2rem;
}

.movie-card .poster {
    object-fit: contain;
    max-width: 20rem;
    height: 100%;
    width: 100%;
}

.movie-card .info {
    display: flex;
    flex-direction: column;
    gap: 0.68rem;
}

.movie-card .info .rating {
    display: inline-block;
    margin-right: auto;
}

@media screen and (max-width: 920px) {
    .main-layout {
        grid-template-columns: 1fr;
        grid-template-areas: "search" "result";
        gap: 1rem;
    }

    #search-result .empty-msg {
        padding: 1rem 0;
    }

    .movie-card {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .movie-card .info {
        gap: 0.3rem;
    }
}